<ion-header>
  <ion-toolbar>
    <ion-title>
      Epidemiología|Encuesta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Zona</h2>
  <ion-item>
    <ion-label>Comuna:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Barrio:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Dirección:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-input></ion-input>
  </ion-item>


  <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      <ion-label >Contenedores</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label >Totales</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label >Con larvas</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      <ion-label >LLantas</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label ><ion-input></ion-input></ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label ><ion-input></ion-input></ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;">
    <ion-col col-4>
    <ion-label >Canecas</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label ><ion-input></ion-input></ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label ><ion-input></ion-input></ion-label>
  </ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-4>
  <ion-label >Tanques</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label ><ion-input></ion-input></ion-label>
</ion-col>
  <ion-col col-4>
  <ion-label ><ion-input></ion-input></ion-label>
</ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-4>
  <ion-label >Botellas</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label ><ion-input></ion-input></ion-label>
</ion-col>
  <ion-col col-4>
  <ion-label ><ion-input></ion-input></ion-label>
</ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-4>
  <ion-label >Floreros</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label ><ion-input></ion-input></ion-label>
</ion-col>
  <ion-col col-4>
  <ion-label ><ion-input></ion-input></ion-label>
</ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-4>
  <ion-label >Otros</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label ><ion-input></ion-input></ion-label>
</ion-col>
  <ion-col col-4>
  <ion-label ><ion-input></ion-input></ion-label>
</ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-4>
  <ion-label >Total</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label ><ion-input></ion-input></ion-label>
</ion-col>
  <ion-col col-4>
  <ion-label ><ion-input></ion-input></ion-label>
</ion-col>
</ion-row>
<ion-button>Grabar</ion-button>
<ion-button>Enviar</ion-button>
</ion-content>
